<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HUMAINE Competition</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/normalize.css" type="text/css" />
    <link rel="stylesheet" href="/style.css" type="text/css" />
    <style>
.login-field {
    margin-bottom: 15px;
}
    </style>
</head>

<body>
    <h1>HUMAINE Competition</h1>
    404
</body>
</html>
