<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HUMAINE Competition</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/normalize.css" type="text/css" />
    <link rel="stylesheet" href="/style.css" type="text/css" />
    <style>
.login-field {
    margin-bottom: 15px;
}
    </style>
</head>

<body>
    <h1>HUMAINE Competition</h1>
    Login:
    <div>
        <form action="/login" method="POST">
            <div class='login-field'>
                Email: <input type='text' name='email' placeholder="Email..." size="30" />
            </div>
            <div class='login-field'>
                Access Code: <input type='password' name='code' placeholder="Code..." size="30" />
            </div>
            <div>
                <input type='submit' value='Login' />
            </div>
        </form>
    </div>
</body>
</html>
